@tailwind base;
@tailwind components;
@tailwind utilities;

.new-badge {
    font-size: 0.75rem;
    border-radius: 9999px;
    padding: 0.125rem 0.5rem;
    background-color: #8c44ff;
    color: #000;
    font-weight: 600;
  }